Django==2.2.21
olefile==0.44
Pillow==8.2.0
pytz==2017.3
gunicorn>=19.6.0
psycopg2-binary
whitenoise==4.1.4
dj-database-url>=0.4.1
django-filter==2.1.0
dj-pagination==2.4.0
python-decouple==3.1
django-storages==1.6.5
boto3
pylibmc
WeasyPrint==51
celery==4.2.0
beautifulsoup4==4.6.3
django-render-block==0.5
html2text==2018.1.9
html5lib==1.0.1
django-countries==5.5
django-rest-auth==0.9.5
djangorestframework-simplejwt==4.3.0
stripe==2.41.0
coreapi==2.3.3
django-allauth==0.40.0
djangorestframework==3.11.2
markdown==2.6.11
django-cors-headers==3.2.0
pyyaml==5.4
django-webpack-loader==0.7.0
requests==2.23.0
xlrd==1.2.0
