{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html lang="en">
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="Délita Makanda">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>dopejob - {% block title %}{% endblock %}{% block head_title %}{% endblock %}</title>
    {% render_bundle 'main' 'css' %}
  </head>

<body>
    <div id="{% block bodyId %}genericPage{% endblock %}" class="body">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% render_bundle 'main' 'js' %}
    {% render_bundle 'runtime-main' 'js' %}
    {% render_bundle 'vendors' 'js' %}
</body>

</html>
